

.container {
    width=100%;
    max-width: 800px;
    background-image: url("card.png");
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}


.card {
    width: 85.8%;
    background-color: #111a28;
    border-radius: 10px;
    height: 394px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3.2%;
    padding-right: 8.2%;
}


.card__logo {
    display: flex;
    align-content: flex-start;
    flex-grow: 1;
    align-items: center;
}


/*---------card-description------*/

.card__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 3;
    
}

.product-image {
    display: flex;
    align-items: center;
}

.product-image__content {
  width: 100%;
  height: auto;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 100; 
    color: #e1e1e1;
    letter-spacing: 1px;
}

.product-info__title {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.product-info__specification {
    font-size: 14px;
    margin: 0;
    padding: 0;
}



/*----------------stars-----------------*/


fieldset, label { margin: 0; padding: 0; }

.rating { 
  border: none;
    direction: rtl;
    width: 40%;
        white-space: nowrap;
    letter-spacing: normal;
}

.rating__data { display: none; } 
.rating__star:before { 
  font-size: 14px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}


.rating__star { 
  color: #ddd; 
}

.rating__data:checked ~ .rating__star, /* show gold star when clicked */
.rating__star:hover, /* hover current star */
.rating__star:hover ~ .rating__star { color: #FFD700;  } /* hover previous stars in list */

/*----------------stars end------------------/




/*----------------dropdowns---------------*/

.product-info__choice {
    display: flex;
}

 .card-choice {
    padding: 10px 10px 10px 15px;
    border-style: solid;
    border-width: 2px;
    margin-right: 3px;
}

.card-choice__dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.card-choice__dropdown a {
        color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.card-choice i {
    margin-left: 10px;
}

.card-choice:hover .card-choice__dropdown {
    display: block;
}

/*----------------dropdowns end---------------*/

/*----------------button-----------------------*/

.card-button {
padding: 10px;
    width: 185px;
    background-color: #202835;
    color: #a4a7ab;
    font-size: 18px;
}

.card-button:active {
    background-color: lightyellow;
}

.card__color {
    padding-left: 25%;
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.card__color a {
    margin-right: 5px;
}